# Faire du Stacking avec Titanic

On va faire notre premier stacking ensemble. Voyons comment cela peut améliorer notre score sur le dataset du Titanic

1. Importez les librairies usuelles

In [0]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

2. Importez le dataset dans un DataFrame

In [0]:
from google.colab import files 

uploaded = files.upload()

Saving train (1).csv to train (1).csv

In [0]:
for fn in uploaded.keys():
  dataset = pd.read_csv(fn)

dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

3. Remplacez la colonne 

```name```
```Ticket```

Par le nombre de caractères qu'il y a dans la cellule

In [0]:
dataset["Ticket"] = dataset["Ticket"].apply(len)
dataset["Name"] = dataset["Name"].apply(len)

dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,23,male,22.0,1,0,9,7.2500,NaN,S
1,2,1,1,51,female,38.0,1,0,8,71.2833,C85,C
2,3,1,3,22,female,26.0,0,0,16,7.9250,NaN,S
3,4,1,1,44,female,35.0,1,0,6,53.1000,C123,S
4,5,0,3,24,male,35.0,0,0,6,8.0500,NaN,S

4. Créez une nouvelle colonne ```FamilySize``` qui sera la somme des colonnes  ```SibSp``` & ```Parch```

In [0]:
dataset["FamilySize"] = dataset["SibSp"] + dataset["Parch"]
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,23,male,22.0,1,0,9,7.2500,NaN,S,1
1,2,1,1,51,female,38.0,1,0,8,71.2833,C85,C,1
2,3,1,3,22,female,26.0,0,0,16,7.9250,NaN,S,0
3,4,1,1,44,female,35.0,1,0,6,53.1000,C123,S,1
4,5,0,3,24,male,35.0,0,0,6,8.0500,NaN,S,0

5. Créez une nouvelle colonne ```IsAlone``` qui indique si la personne a une famille ou non

In [0]:
dataset["IsAlone"] = dataset["FamilySize"].apply(lambda x:1 if x>0 else 0)
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,1,0,3,23,male,22.0,1,0,9,7.2500,NaN,S,1,1
1,2,1,1,51,female,38.0,1,0,8,71.2833,C85,C,1,1
2,3,1,3,22,female,26.0,0,0,16,7.9250,NaN,S,0,0
3,4,1,1,44,female,35.0,1,0,6,53.1000,C123,S,1,1
4,5,0,3,24,male,35.0,0,0,6,8.0500,NaN,S,0,0

6. Dans la colonne ```Cabin``` Faites en sorte de ne garder uniquement la première lettre de la cabine

In [0]:
dataset["Cabin"] = dataset["Cabin"].apply(lambda x:1 if type(x) == str else 0)
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,1,0,3,23,male,22.0,1,0,9,7.2500,0,S,1,1
1,2,1,1,51,female,38.0,1,0,8,71.2833,1,C,1,1
2,3,1,3,22,female,26.0,0,0,16,7.9250,0,S,0,0
3,4,1,1,44,female,35.0,1,0,6,53.1000,1,S,1,1
4,5,0,3,24,male,35.0,0,0,6,8.0500,0,S,0,0

7. Faites une interpolation linéaire pour remplacer les valeurs manquantes dans la colonne ```Age```

In [0]:
dataset["Age"] = dataset["Age"].interpolate()
dataset.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked        True
FamilySize     False
IsAlone        False
dtype: bool

8. Comptez le nombre de NaN qu'il y a dans la colonne Embarked et adoptez la stratégie qui vous semble le plus adapté pour gérer ces valeurs

In [0]:
dataset.isnull().sum()/len(dataset)

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.000000
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.000000
Embarked       0.002245
FamilySize     0.000000
IsAlone        0.000000
dtype: float64

In [0]:
dataset = dataset.dropna()

In [0]:
dataset.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
FamilySize     False
IsAlone        False
dtype: bool

9. Dummyfiez les variables catégoriques

In [0]:
dataset = pd.get_dummies(dataset, drop_first=True)
dataset.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,FamilySize,IsAlone,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,23,22.0,1,0,9,7.2500,0,1,1,1,0,1
1,2,1,1,51,38.0,1,0,8,71.2833,1,1,1,0,0,0
2,3,1,3,22,26.0,0,0,16,7.9250,0,0,0,0,0,1
3,4,1,1,44,35.0,1,0,6,53.1000,1,1,1,0,0,1
4,5,0,3,24,35.0,0,0,6,8.0500,0,0,0,1,0,1

10. Séparez votre dataset en X & y qui sont respectivement les variables explicatives et la variable cible

In [0]:
X = dataset.iloc[:,2:]
y = dataset.iloc[:, dataset.columns=="Survived"]

11. Normalisez votre dataset

In [0]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X = sc_x.fit_transform(X)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

12. Faites un train_test_split

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y)

13. Faites une première prédiction grâce à une régression logistique et regardez votre score

In [0]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7533632286995515

14. Faites une prédiction pour tout votre dataset X et concaténez ces prédiction dans un dataframe qu'on appellera X_new

In [0]:
prediction = classifier.predict(X)
X_new = pd.concat([pd.DataFrame(X), pd.DataFrame(prediction)], axis=1)
X_new.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,0
0,0.825209,-0.426962,-0.553940,0.431350,-0.474326,0.818206,-0.500240,-0.542247,0.057853,1.229349,0.735342,-0.307941,0.616794,0
1,-1.572211,2.593196,0.600034,0.431350,-0.474326,0.454149,0.788947,1.844177,0.057853,1.229349,-1.359911,-0.307941,-1.621287,1
2,0.825209,-0.534825,-0.265446,-0.475199,-0.474326,3.366601,-0.486650,-0.542247,-0.561804,-0.813439,-1.359911,-0.307941,0.616794,1
3,-1.572211,1.838157,0.383664,0.431350,-0.474326,-0.273964,0.422861,1.844177,0.057853,1.229349,-1.359911,-0.307941,0.616794,1
4,0.825209,-0.319099,0.383664,-0.475199,-0.474326,-0.273964,-0.484133,-0.542247,-0.561804,-0.813439,0.735342,-0.307941,0.616794,0

In [0]:
X_new.columns = [i for i,col in enumerate(X_new.columns)]

15. Faites un nouveau train_test_split sur ```X_new```

In [0]:
X_new_train, X_new_test, y_new_train, y_new_test = train_test_split(X_new, y, test_size=0.2, stratify=y)

15. Importez Adaboost et entrainez votre nouveau modèle sur ```X_new```

In [0]:
from sklearn.ensemble import AdaBoostClassifier
adaboost = AdaBoostClassifier()
adaboost.fit(X_new_train, y_new_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

16. Regardez votre nouveau score

In [0]:
adaboost.score(X_new_test, y_new_test)

0.8033707865168539